#nb {
    background-color: #c20e0e;
}

.hero-section {
    background-color: #1c1a19;
    border: 1px solid green;
     background-image: url("./images/backghero.png");
    height:34rem;
}

.hero-section img {
    width: 80%;
    height: 60%;
    padding-bottom: 3rem;
}

.hero-right {
    width: 25rem;
}

.hero-right h1 {
    color: #f55800;
    font-family: 'Crete Round', sans-serif;
    font-weight: 400;
    font-size: 72px;
}

.hero-right h5 {
    color: #fff;

}

.hero-right p {
    color: #f4f5f7;
}