.navbar {
    background-color: #312f2f;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-left {
    display: flex;
    align-items: center;
    width: 10rem;
}

.nav-left li a {
    color: #fff;
}

.nav-right {
    display: flex;
    justify-content: flex-end;
    margin-left: 25rem;
    align-items: center;
    width: 45rem;
}

.nav-right li a {
    margin-right: 2rem;
    color: #fff;
}

/* --------------------hero section------------ */
.hero-section {
    background-color: #1c1a19;
    background-image: url("./images/Illustration-header.png");
    height:50rem;
    background-position: right top;
    background-repeat: no-repeat;
}

.hero-section img {
    width: 50%;
    height: 40%;
    padding-bottom: 5rem;
}

.hero-right {
    width: 25rem;
}

.hero-right h1 {
    color: #f55800;
    font-family: 'Crete Round', sans-serif;
    font-weight: 400;
    font-size: 72px;
}

.hero-right h5 {
    color: #fff;

}

.hero-right p {
    color: #f4f5f7;
}

/* -----my works row1 -------------------------------- */
.col-5{
    width: 25rem;
    margin-left: 1rem;
}

.row {
    width: 90%;
}

.card-body {
    background-image: url("./images/Bg_ImgCard.png");
    height: 25rem;
}

.card-body .btn-prj {
    display: none;
}

.card-body:hover {
    cursor: pointer;
    background-image: url("./images/clearimg.png");
    transform: scale(1.1);
    transition: ease-in-out 0.5s;
    z-index: 1;
}

.card-body:hover h4,
.card-body:hover p,
.card-body:hover ul {
    display: none;
}

.card-body:hover .btn-prj {
    display: block;
}

/* ----------------- about me ----------------------------------- */
.aboutme {
    height: auto;
    width: 100%;
    background-color: #262626;
    background-image: url("/images/aboutmeright.png");
    object-fit: cover;
    background-position: right top;
    background-repeat: no-repeat;
}

.about-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    object-position: left;
}

